
.vim/bundle
.vim/sessions
.vim/.vim
.vim/doc
.vim/undo
*.zwc
*.swp

.directory
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*fontconfig*

# Org-mode
.org-id-locations
*_archive

# haskell
*.o
*.hi
