directory = ~/.torrent/tmp
session = ~/.torrent/session
schedule = watch_directory,5,5,load_start=~/.torrent/torrents/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=

use_udp_trackers = yes
dht = auto
dht_port = 6881
peer_exchange = yes
encryption = allow_incoming,try_outgoing,enable_retry

# for emacs mentor
scgi_port = 127.0.0.1:5000
xmlrpc_dialect = i8
encoding_list = UTF-8

system.method.set_key = event.download.finished,move_complete,"execute=mv,-n,$d.get_base_path=,~/.torrent/in/;d.set_directory=~/.torrent/in/"








































































