
Xcursor.theme: whiteglass

#include ".xresources.d/font"
#include ".xresources.d/urxvt"
#include ".xresources.d/xterm"
#include ".xresources.d/xfontsel"
#include ".xresources.d/fontforge"
#include ".xresources.d/emacs"
#include ".xresources.d/cursor"
!#include ".xresources.d/rofi"
#include ".xresources.d/st"
#include ".xresources.d/xft"


!-------------------------------------
! colors
!----------------------------------
!
! relative path from $HOME
#define COLOURSCHEME ".xcolours/solarized"
#include COLOURSCHEME
!*color0: black
!*color1: red3
!*color2: green3
!*color3: yellow3
!*color4: blue2
!*color5: magenta3
!*color6: cyan3
!*color7: gray90
!*color8: gray50
!*color9: red
!*color10: green
!*color11: yellow
!*color12: rgb:5c/5c/ff
!*color13: magenta
!*color14: cyan
!*color15: white
!--------------------------------------
