Xcursor.theme: whiteglass

!---------------
! urxvt
!---------------
urxvt.termName: xterm-256color

!----------
!on  ->get transparency in some wm
!off ->image display in w3m
urxvt.depth: 32
!----------

urxvt.background: rgba:0000/0000/0000/cccc
!urxvt.background: [90]#262630
urxvt.foreground: [90]gray
urxvt.geometry: 100x40+100+100
urxvt.scrollBar: false
urxvt.buffered: true
urxvt.borderLess: false
urxvt.internalBorder: 0
!urxvt.transparent: fa lse
!urxvt.inheritPixmap: true
urxvt.fading: 2%
urxvt.fadeColor: grey
urxvt.shading: 20
urxvt.tintcolor: black
urxvt.preedittype: Root
urxvt.savelines: 2000
urxvt.mousewheelscrollpage: true
urxvt.urgentOnBell: true

urxvt.perl-ext-common: default,matcher,clipboard-osc
urxvt.urlLauncher: firefox
urxvt.matcher.button: 1
urxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-].[\\w/-]

!urxvt.font:Terminus\-ja-12
!urxvt.boldFont:Terminus\-ja-12
!urxvt.font: k12
!urxvt.boldfont: k12
urxvt.font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-iso8859-*, \
            -*-terminus-medium-r-normal-*-12-*-*-*-*-*-iso10646-*, \
             -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*, \
            -mplus-gothic-medium-r-normal-*-10-*-*-*-*-*-jisx0208.1990-*,\
            -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1,\
            xft:Code200:antialias=false

urxvt.boldFont: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-iso8859-*, \
            -*-terminus-medium-r-normal-*-12-*-*-*-*-*-iso10646-*, \
             -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*, \
            -mplus-gothic-medium-r-normal-*-10-*-*-*-*-*-jisx0208.1990-*,\
            -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1,\
            xft:Code200:antialias=false

!urxvt.boldfont: -mplus-gothic-medium-r-normal-*-10-*-*-*-*-*-*-*
!urxvt.boldFont: 9x15bold,\
!    -mplus-gothic-medium-r-normal-*-10-*-*-*-*-*-*-*, \
!    -misc-fixed-bold-r-normal--15-140-75-75-75-c-90-iso10646-1,\
!    -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1,\
!    [codeset=JISX0208]xft:Kochi Gothic:antialias=false, \
!    xft:Code200:antialias=false




!-------------------------------------
! colors
!----------------------------------
!*color0: black
!*color1: red3
!*color2: green3
!*color3: yellow3
!*color4: blue2
!*color5: magenta3
!*color6: cyan3
!*color7: gray90
!*color8: gray50
!*color9: red
!*color10: green
!*color11: yellow
!*color12: rgb:5c/5c/ff
!*color13: magenta
!*color14: cyan
!*color15: white
!--------------------------------------


! colors from dzen wiki
urxvt*color0:       #000000
urxvt*color8:       #666666
!! DarkRed + Red
urxvt*color1:       #b45151
urxvt*color9:       #fe8686
!! DarkGreen + Green
urxvt*color2:       #8ba574
urxvt*color10:      #a5dca5
!! DarkYellow + Yellow
urxvt*color3:       Khaki3
urxvt*color11:      #efe58b
!! DarkBlue + Blue
urxvt*color4:       #2797d8
urxvt*color12:      #86cdea
!! DarkMangenta + Mangenta
urxvt*color5:       #aa6eaf
urxvt*color13:      #b698b8
!!DarkCyan + Cyan
urxvt*color6:       #418179
urxvt*color14:      #71bebe
!! LightGrey + White
urxvt*color7:       #bebebe
urxvt*color15:      #ffffff


!{{{
!urxvt.color0: #222222
!urxvt.color1: #ffa0a0
!urxvt.color2: #98fb98
!urxvt.color3: #f0e68c
!urxvt.color4: #3a93ff
!urxvt.color5: #ffa0a0
!urxvt.color6: #87ceeb
!urxvt.color7: #ffffff
!urxvt.color8: #333333
!urxvt.color9: #ffa0a0
!urxvt.color10: #9acd32
!urxvt.color11: #f0e68c
!urxvt.color12: #87ceeb
!urxvt.color13: #ffa0a0
!urxvt.color14: #87ceeb
!urxvt.color15: #ffffff
!}}}

!{{{ --------------
! kde konsole DarkPastel colorscheme
! Background 2c2c2c, 2c4444
!urxvt.color0:  #2c2c2c
!urxvt.color1:  #705050
!urxvt.color2:  #60b48a
!urxvt.color3:  #dfaf8f
!urxvt.color4:  #9ab8d7
!urxvt.color5:  #dc8cc3
!urxvt.color6:  #8cd0d3
!urxvt.color7:  #dcdccc
!urxvt.color8:  #709080
!urxvt.color9:  #dca3a3
!urxvt.color10: #72d5a3
!urxvt.color11: #f0dfaf
!urxvt.color12: #94bff3
!urxvt.color13: #ec93d3
!urxvt.color14: #93e0e3
!urxvt.color15: #ffffff
!}}}



!-------------
! xterm
! ------------
xterm*foreground: white
xterm*background: black
xterm*scrollBar: false

xterm*color0: black
xterm*color1: #705050
xterm*color2: #60b48a
xterm*color3: #dfaf8f
xterm*color4: #9ab8d7
xterm*color5: #dc8cc3
xterm*color6: #8cd0d3
xterm*color7: #dcdccc
xterm*color8: #709080
xterm*color9: #dca3a3 
xterm*color10: #72d5a3
xterm*color11: #f0dfaf
xterm*color12: #94bff3
xterm*color13: #ec93d3
xterm*color14: #93e0e3
xterm*color15: #ffffff
     
!-------------
! xfontsel
! -----------
!XFontSel*sampleText.background: TEXTBG
XFontSel*menu*showUnselectable: false
XFontSel*MenuButton.shadowWidth: 0
XFontsel*Toggle*ToggleStyle: check
XFontsel*MenuButton*Justify:    left
XFontsel*MenuButton*MenuButtonStyle: select
.xfontsel.pane.commandBox.quitButton.background: #777777
.xfontsel.pane.commandBox.quitButton.foreground: snow
.xfontsel.pane.commandBox.ownButton.background: orange3
.xfontsel.pane.commandBox.ownButton.foreground: snow
.xfontsel.pane.commandBox.countLabel.background: snow
.xfontsel.pane.viewPort.sampleText.background: #777777
.xfontsel.pane.viewPort.sampleText.foreground: snow
.xfontsel.pane.fieldBox.field0.background: #777777
.xfontsel.pane.fieldBox.field0.foreground: snow
.xfontsel.pane.fieldBox.field1.background: #777777
.xfontsel.pane.fieldBox.field1.foreground: snow
.xfontsel.pane.fieldBox.field2.background: #777777
.xfontsel.pane.fieldBox.field2.foreground: snow
.xfontsel.pane.fieldBox.field3.background: #777777
.xfontsel.pane.fieldBox.field3.foreground: snow
.xfontsel.pane.fieldBox.field4.background: #777777
.xfontsel.pane.fieldBox.field4.foreground: snow
.xfontsel.pane.fieldBox.field5.background: #777777
.xfontsel.pane.fieldBox.field5.foreground: snow
.xfontsel.pane.fieldBox.field6.background: #777777
.xfontsel.pane.fieldBox.field6.foreground: snow
.xfontsel.pane.fieldBox.field7.background: #777777
.xfontsel.pane.fieldBox.field7.foreground: snow
.xfontsel.pane.fieldBox.field8.background: #777777
.xfontsel.pane.fieldBox.field8.foreground: snow
.xfontsel.pane.fieldBox.field9.background: #777777
.xfontsel.pane.fieldBox.field9.foreground: snow
.xfontsel.pane.fieldBox.field10.background: #777777
.xfontsel.pane.fieldBox.field10.foreground: snow
.xfontsel.pane.fieldBox.field11.background: #777777
.xfontsel.pane.fieldBox.field11.foreground: snow
.xfontsel.pane.fieldBox.field12.background: #777777
.xfontsel.pane.fieldBox.field12.foreground: snow
.xfontsel.pane.fieldBox.field13.background: #777777
.xfontsel.pane.fieldBox.field13.foreground: snow
.xfontsel.pane.fieldBox*foreground: #000000
.xfontsel.pane.fieldBox.MenuButton.borderWidth: 1
.xfontsel.pane.fieldBox.MenuButton.internalHeight: 1
.xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
.xfontsel.pane.fieldBox.MenuButton.shapeStyle: rectangle
