
/* futaba forumn */
@-moz-document domain("2chan.net"){
body {
  background-color: #121212 !important;
}
 body,tr,td,th{
   font-size:10pt !important; */
 }
 a.del{color:#222222;}
 a:hover { color:#888888; }
/* small { font-size:10pt } */
 .delform {position:absolute;right:0;white-space:nowrap;text-align:center;}
/* .chui {font-size:small;} */
 .chui>ul {padding-left:30px;}
 ul {margin:0px;}
 .ftbl {table-layout:fixed;width:476px;margin:0 auto;}
 .ftdc {background-color:#993;width:4.5em;white-space:nowrap;}
 #ftxa {width:388px;height:130px;}
 form {
  margin:0px;
  }
 .ama {text-align:left;width:468px;border:2px ridge;}
 table.deleted{display:none;}
/* #ddel{font-size:8pt} */
 #ddbut{cursor:pointer;text-decoration:underline;}
 #contres{position:relative;left:1.5em;}
/* #contdisp{font-size:10pt;} */
 #reszb{cursor:pointer;text-decoration:underline;}
 blockquote{word-wrap:break-word;word-break:break-all;max-width:800px;}
 td {
  color: #aaaacc !important;
  background-color: #222222 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  max-width:800px;
  }
 .threadid {
  font-size: 7pt;
  color: #fb8def;
}
}

@-moz-document domain("google.com"),domain("google.co.jp") {
.vspib, #vspb {
  display: none !important;
}
}

/* freebsd forum */
@-moz-document domain("forums.freebsd.org") {
body, table, tbody, thead, tr, td, thead, div, a {
  font-family: "Verdana";
  background-image: none !important;
  background-color: #333333 !important;
  color: #777777 !important;
  }

  .tborder {
    background-color: #606060 !important;
    }
  strong {
    color: #a8b888 !important;
    }
    }

/* gauche manual */
@-moz-document url-prefix("http://practical-scheme.net/gauche/man/") {
  body {
    color: #aaaaaa !important;
    background-color: #121212 !important;
  }

  a {
    color: #484878 !important;
  }

  /*Function:, funcname, arg1 arg2 */
  /* Function: */
  dl dt u {
    color: #333358 !important;
  }
  /* funcname */
  dl dt b {
    color: #aaaafa !important;
  }
  /* arg1 arg2 */
  dl dt i {
    color: #555577 !important;
  }
}
