@bgcolour: #151515;
@fgcolour: #404040;

// less mixin
.mix-rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.mix-font-terminus {
  font-family: "Terminus";
  font-size: 10pt;
}
//

* { target-new: tab !important;}

body {
  .mix-font-terminus;
  color: @fgcolour;
  background-color: @bgcolour;
  border-color: #222;
  line-height: 12px;
  float: left;
  position: relative;
  width: 500px;
  margin: {
    top: 20px;
    left: 30px;
}
 }

a {
  text-decoration: none;
}

#bookmark {
  .delicious a { color: #47959e; }
  .arch a { color: #4779B3; }
  .crunchbang a { color: #238108; }
  .reddit a { color: #8edf3e; }
  .fourchan a { color: #bb3a80; }
}

.google a {
  color: #914E89;
}

.googleinput input {
  .mix-rounded-corners;
  color: @fgcolour;
  background-color: @bgcolour;
  border-width: 1px;
  border-style: groove;
  border-color: #010000;
}

