/* //github.com/marcoscan/Linux-configs */

.tabbrowser-tabs {
    -moz-appearance: none !important;
    background-image: none !important;
    max-height: 17px !important;
    min-height: 17px !important;
    min-width: 1280px !important;
}

.tabbrowser-tab {
    -moz-appearance: none !important;
    border-radius: 0px !important;
    font-family: Dejavu Sans !important;
    font-size: 11px !important;
    color:      #eeeeee !important;
    background: #1b1b1b !important;
    max-height: 17px !important;
    min-height: 17px !important;
    border: none !important;
    margin: 0 !important;
    max-width: 100px !important;
    min-width: 100px !important;
    padding: 1 !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    -moz-margin-end: 3px !important;
}

.tabbrowser-tab[selected] {
    -moz-appearance: none !important;
    color: #ffffff !important;
    background: #bbbbee !important;
}

